* {
    margin: 0px;
}

navbar {
    background-color: #00A3FF;
    padding: 0px;
    
}

.container-fluid, .navbar-brand {
    padding: 0px;
    margin-left: 20px;
}

main {
    background-color: #B8E6FF;
}

/*section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/

#produtos .row {
    display: flex;
    justify-content: center;
}

#produtos .col {
    margin-bottom: 20px;
    text-align: center;
}

div {
    padding: 30px;
}

#jogo, #console, #pc-gamer {
    width: 200px;
    height: auto;
}

.nav-link {
    margin-right: 40px;
}